.signIn-body {
    background-color: #e6f2ff;
}

.container.signIn-container {
    margin-top: 4%;
}

.card.signIn-card {
    padding: 10px 0px 2px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.img-fluid.signIn-image {
    padding: 0px 2rem 2rem;
    margin: auto;
    display: block;
    
}
form.signIn-form {
    max-width: 380px;
    margin: auto;
}
button.signIn-btn {
    color: white;
    background-color: #d64829;
    width: 100%;
    margin-bottom: 1.2rem;
}
.signIn-lbl {
    margin: 10px 20px;
}
a.CreateNewAccount {
    font-size: 1.2rem;
    text-align: center;
    display: block;
    margin-top: 15px;
}